body {
    font-family: Sans-Serif !important;

}

.pl-0 {
    padding-left: 0;
}

label {
    font-weight: bold;
}


.table, label, option {
    color: #333 !important;
}

#asm, #tso, #db, #category, #name {
    display: none;
}
