body {
    font-family: Sans-Serif !important;

}

a {
    text-decoration: none !important;
}

.pl-0 {
    padding-left: 0;
}

.mb-0 {
    margin-bottom: 0 !important;
}

label {
    color: #777;
    font-size: 12px;
    margin-bottom: 0;
}

.form-control {
    border: 1px solid green;
    height: 20px;
}

input[type='file'] {
    padding: 0 !important;
}

.bootstrap-select .btn-default {
    background-color: #fff !important;
    border: 1px solid green !important;
    color: #777 !important;
    height: 20px;
    font-size: 12px !important;
    padding: 0px !important;
    margin: 0 !important;
    text-align: center !important;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
    text-align: center !important;
}

.table, option {
    color: #333 !important;
}

#asm, #tso, #db, #category, #name {
    display: none;
}

.buttons-csv {
    background-color: yellow !important;
}

.buttons-excel {
    background-color: red !important;
}

.panel-body p, .panel-body ol {
    color: #333;
}
